.alphabot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;

    &Buttons {
        display: flex;
        gap: 20px;
        margin: 20px;
    }

    &Project {
        display: flex;
        gap:20px
    }

    &Item {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
            padding: 0px;
            color: red;
        }
    }

    a {
        max-width: max-content;
    }
}